    
 {{!-- requring in stying on material icons  --}}
    <link
      href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
      rel="stylesheet"
    />

    {{!-- nav bar container  --}}
    <div
      class="pl-10 pr-10 pb-5 pt-10 h-100"
    >
        <nav class="navbar w-full bg-white">
            <div class="container-lg px-0">
                <div class="flex w-full items-center">
                    {{!-- change logo  --}}
                    <img src="/images/smalllogo.png" alt="">
                <a class="nav-brand mr-auto ml-0" href="/">Phantom Plates</a>
                {{!-- this button is for the hamburger menu. Better response on mobile  --}}
                <button
                    navbar-trigger=""
                    class="navbar-trigger ml-auto mr-0 mb-0 lg:hidden xl:hidden"
                    type="button"
                    aria-controls="navigation"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-trigger-icon">
                    <span bar1="" class="navbar-trigger-bar mt-1"
                        ><span class="hidden origin-[10%_10%] rotate-45"></span
                    ></span>
                    <span bar2="" class="bar2 navbar-trigger-bar mt-2"></span>
                    <span bar3="" class="bar3 navbar-trigger-bar mt-2"
                        ><span
                        class="mt-mt-[0.4375rem] hidden origin-[10%_90%] -rotate-45"
                        ></span
                    ></span>
                    </span>
                </button>
                </div>
                {{!-- start of nav bar menu - add more but follow the id conventions --}}
                <div class="" navbar-menu="">
                <ul class="flex flex-wrap gap-5">
                    <li>
                    <a id = "navbutton-home" class="nav-link" aria-current="page" href="/">
                        <i class="material-icons mr-2 text-base opacity-60">home</i>
                        <span>Home</span>
                    </a>
                    </li>
                    {{#if logged_in}}
                    <li>

                    <a id = "navbutton-profile" class="nav-link" href="/dashboard">
                        <i class="material-icons mr-2 text-base opacity-60">account_circle</i>
                        <span>Dashboard</span>
                    </a>
                    </li>
                    <li class="flex">
                        <a id = "navbutton-orders" class="nav-link" href="/orders">
                            <i class="material-icons mr-2 text-base opacity-60">lunch_dining</i>
                            <span>My Orders</span>
                        </a>
                    </li>
                    <li class="flex">
                        <a id = "navbutton-orders" class="nav-link" href="/nearme">
                            <i class="material-icons mr-2 text-base opacity-60">near_me</i>
                            <span>Near Me</span>
                        </a>
                    </li>
                    {{!-- nav bar will show log out if logged in or log in if logged out  --}}
                    
                    <li>
                        <button id="navbutton-logout" class="nav-link">
                        {{!-- <a id = "navbutton-logout" class="nav-link" href="#"> --}}
                            <i class="material-icons mr-2 text-base opacity-60">logout</i>
                            <span>Logout</span>
                            </button>
                        {{!-- </a> --}}
                    </li>
                    {{else}}
                        <li>
                        <a id = "navbutton-login" class="nav-link" href="/login">
                            <i class="material-icons mr-2 text-base opacity-60">login</i>
                            <span>Login</span>
                        </a>
                    {{/if}}
                    </li>
                </ul>
                </div>
            </div>
        </nav>
      </div>
    </div>
    
    <!-- script for the hamburger menu from cdn -->
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>

    {{#if logged_in}}
    <script src="./../js/logout.js"></script>
    {{/if}}