<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phantom Plates:Main</title>
    <link rel="stylesheet" href="../styles/output.css" />
</head>

<body>
    <header>Phantom Plates</header>
    <nav>
        {{#if loggedIn}}
        <button>Logout</button>
        {{else}}
        <a href="./login.handlebars">Login</a>
        {{/if}} <br><br>
        <input type="search" placeholder="Search Nearby Kitchens"> <br><br>
        <input type="submit">
    </nav>

    <main>
        <div class="container">
            <h1>Hot Plates</h1>
            <p>Tantalize your tastebuds from the best kitchens in the area!</p>
            {{#if loggedIn}}
            <section>
                <ul>
                    {{#each Kitchen.kitchen_name as |kitchen| }}
                    {{>Kitchen.description}}
                    {{/each}}
                </ul>
            </section>
        </div>
    </main>
</body>

</html>