{{> navbar}}

{{#if logged_in}}
<h1 style="text-align: center;">User Profile </h1>
<p style="text-align: center;">Modify your profile here</p>
{{> userprofile}}
<br>
{{> kitchenprofile}}
<br>
{{> fooddashboard}}
{{else}}

<a href="/login"></a><h1>Please login or sign up to view this page</h1>
{{/if}}