<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/output.css" />
</head>

<body>
    {{#if loggedIn}}
    <section>
        <button>Go my Profile</button>
        <button>Logout</button>
    </section>
    {{#else}}
    <section>
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Password">
    </section>
    {{/if}}
</body>

</html>