<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/output.css" />
</head>

<body>
    <aside>
        <input type="search" placeholder="Refine your search here!">
        <input type="submit">

        <button>Filter</button>
        <input type="checkbox" name="Is Available" id="">
        <input type="checkbox" name="Cuisine Type" id="">
        <input type="checkbox" name="Deliverable" id="">
    </aside>

    <section>
        {{!-- Generated Search Content goes here --}}
    </section>
</body>

</html>